/* .colours {
    display: inline-block;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;

}
.easy {
    
}
.hard {
    
}
.remove {
    visibility: hidden;
} */

.try {
    color: white;
}

.show {
    visibility: hidden;
}


body {
    background-color: #232323;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}
#container {
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: white;
}
